{% if page.previous or page.next %}
<nav class="pagination">
  {% if page.next %}
  <a href="{{ site.url }}{{ page.next.url }}" class="pagination_pager" title="{{ page.next.title | markdownify | strip_html }}">Newer Post</a>
  {% else %}
  <a href="#" class="pagination_pager disabled">Newer Post</a>
  {% endif %} 
  
  {% if page.previous %}
  <a href="{{ site.url }}{{ page.previous.url }}" class="pagination_pager" title="{{ page.previous.title | markdownify | strip_html }}">Older Post</a>
  {% else %}
  <a href="#" class="pagination_pager disabled">Older Post</a>
  {% endif %}
</nav>
{% endif %}
